a {
  text-decoration: none;
}

.mantine-Tabs-tab {
  color: var(--mantine-color-gray-6);
}

.mantine-Tabs-tab[data-active] {
  color: var(--mantine-color-gray-9);
}

.mantine-Accordion-control[data-active] {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}
