name: Website tests

on:
  push:
    branches:
      - main
    paths:
      - website/**
  pull_request:
    branches:
      - main
    paths:
      - website/**

jobs:
  website-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: website/package.json
      
      - name: Cache Node.js modules
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/website/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      
      - name: Install dependencies
        run: |
          cd website
          npm install
      
      - name: Run tests
        run: |
          cd website
          npm run build
